@model Ramallah.Models.Page

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Control/Views/Shared/_Layout.cshtml";
    var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@Localizer["Pages"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-@Localizer["Float Rev"]">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">@Localizer["Home"]</a></li>
                <li class="breadcrumb-item active">@Localizer["Pages"]</li>
            </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
      
<section class="content">
<div class="container-fluid">
<h1 class="form-title">@Localizer["Deleting Page"]</h1>
<h3>@Localizer["Delete Cofirm Message"]</h3>
<div>
    <h4>@Localizer["Page"]</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTitle)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Body)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedirectUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedirectUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumb)
        </dt>
        <dd class = "col-sm-10">         
        @{
            if(Model.Thumb != null)
            {
                <img src='@Model.Thumb' style='max-width:150px;' >
            }
        }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumb2)
        </dt>
        <dd class = "col-sm-10">
        @{
            if(Model.Thumb2 != null)
            {
                <img src='@Model.Thumb2' style='max-width:150px;' >
            }
        }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowThumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowThumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.MetaDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaKeywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.MetaKeywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtmlTemplate)
        </dt>
        <dd class = "col-sm-10">
            @(Model.HtmlTemplate!=null ? (currentCulture =="en" ? Model.HtmlTemplate.Name : Model.HtmlTemplate.ArName) : "")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsMenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowAsMain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowAsMain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageRef.PageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowInSearchPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowInSearchPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowInSiteMap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowInSiteMap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowAsRelated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowAsRelated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Summary)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowRelated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowRelated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sticky)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sticky)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAdd.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEdit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEdit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" name="id" id="id" value="@Model.PageId" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Back To List"]</a>
    </form>
</div>
</div>
</section>
