@model IEnumerable<Ramallah.Models.Files>
@using Ramallah.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Control/Views/Shared/_Layout.cshtml";
    var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<partial name="_validationMsg" />

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@Localizer["Files"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-@Localizer["Float Rev"]">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">@Localizer["Home"]</a></li>
                    <li class="breadcrumb-item active">@Localizer["Files"]</li>
            </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
      
<section class="content">
<div class="container-fluid">

<div class="row">
    <div class="col-6 text-start"><h1 class="form-title">@Localizer["List All Files"]</h1></div>
    @if (Functions.CheckAccess("Create", "Files", "Control", HttpContextAccessor.HttpContext))
    {
        <div class="col-6 text-@Localizer["Float Rev"] mt-3 sm-link"><a asp-action="Create"><i class="bi bi-plus-circle"></i> @Localizer["Add New File"]</a></div>
    }
</div>
<form asp-action="Index" >
<div class="row mb-3">
    <div class="col-6 col-md-3">
        <label for="keyword">@Localizer["Keyword"]:</label>
        <input type="text" placeholder="@Localizer["Keyword"]" class="form-control" name="keyword" id="keyword" value="@ViewBag.keyword" />
    </div>
    <div class="col-6 col-md-3">
        <label for="scat" >@Localizer["File Category"]:</label>
        <select name="scat" id="scat" class="form-control" >
            <option value="">:: @Localizer["Select Category"] ::</option>
            @{
                List<Category> cats = ViewBag.Categories;
                foreach (Category temp in cats)
                {                                                   
                <!option value="@temp.Id" @(ViewBag.Category!=null && ViewBag.Category == temp.Id ? "SELECTED" : "") >@(currentCulture == "en" ? temp.Name : temp.ArName)</!option>
                }
            }
        </select>
    </div>
    <div class="col-6 col-md-2">
        <label for="stype" >@Localizer["File Type"]:</label>
        <select name="stype" id="stype" class="form-control" >
            <option value="" >:: @Localizer["Select Type"] ::</option>
            @{
                List<CategoryTypes> types = ViewBag.Types;
                foreach (CategoryTypes temp in types)
                {                                                   
                <!option value="@temp.Id" @(ViewBag.Type!=null && ViewBag.Type == temp.Id ? "SELECTED" : "") >@(currentCulture=="en" ? temp.Title : temp.ArTitle)</!option>
                }
            }
        </select>
    </div>
    <div class="col-6 col-md-2">
        <label for="slang" >@Localizer["Language"]:</label>
        <select name="slang" id="slang" class ="form-control">
                <option value="" >:: @Localizer["Select Language"] ::</option>
                @{
                List<Language> langs = ViewBag.Languages;
                foreach (Language temp in langs)
                {                                                   
                    <!option value="@temp.Id" @(ViewBag.Language!=null && ViewBag.Language == temp.Id ? "SELECTED" : "")>@temp.Name</!option>
                }
            }
        </select>
    </div>
    <div class="col-6 col-md-2"><br /><button type="submit" asp-action="Index" class="btn btn-primary mt-2" >@Localizer["Search"]</button></div>
</div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatId)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Category.TypeId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.LangId)
            </th>           
          
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>@item.Id</th>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
            @(item.Category.CategoryTypes != null ? (currentCulture == "en" ? item.Category.CategoryTypes.Title : item.Category.CategoryTypes.ArTitle) : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
           
            <td>
            @if (Functions.CheckAccess("Edit", "Files", "Control", HttpContextAccessor.HttpContext))
            {
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a>
            }
            @if (Functions.CheckAccess("Details", "Files", "Control", HttpContextAccessor.HttpContext))
            {
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-folder"></i> </a> 
            }   
            @if (Functions.CheckAccess("Delete", "Files", "Control", HttpContextAccessor.HttpContext))
            {
                <a asp-route-id="@item.Id" class="btn btn-danger btn-sm" asp-action="Delete"><i class="fas fa-trash"></i> </a> 
            }
            </td>
        </tr>
}
    </tbody>
</table>
@if(ViewBag.PagesCount != null && ViewBag.PagesCount > 0){
            <div class="text-center d-flex justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-PageNumber="1">@Localizer["First"]</a></li>
            @for(int i=1; i<=ViewBag.PagesCount; i++)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-PageNumber="@i">@i</a></li>     
            }
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-PageNumber="@ViewBag.PagesCount">@Localizer["Last"]</a></li>
      </ul>
    </nav>
</div>
 }
</div>
</section>