@model Ramallah.Models.Tag
@using Ramallah.Models
@{
    ViewData["Title"] = Localizer["Tag Details"];
    Layout = "~/Areas/Control/Views/Shared/_Layout.cshtml";
    var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@Localizer["Tags"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-@Localizer["Float Rev"]">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">@Localizer["Home"]</a></li>
                <li class="breadcrumb-item active">@Localizer["Tags"]</li>
            </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
<div class="container-fluid">

<h1 class="form-title">@Localizer["Tag Details"]</h1>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtmlTemplate.Name)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thumb)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsPerPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsPerPage)
        </dd>
        
    </dl>
</div>
<div>
<a asp-action="Edit" asp-route-id="@Model?.Id">@Localizer["Edit"]</a> |
<a asp-action="Index">@Localizer["Back To List"]</a>
</div>
</div>
</section>
