@model Ramallah.Models.Menu
@using Ramallah.Models
@{
    ViewData["Title"] = Localizer["Create"];
    Layout = "~/Areas/Control/Views/Shared/_Layout.cshtml";
    var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<partial name="_validationMsg" />

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@Localizer["Menus"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-@Localizer["Float Rev"]">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">@Localizer["Home"]</a></li>
                <li class="breadcrumb-item active">@Localizer["Menus"]</li>
            </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container - fluid -->
</div>
<!-- /.content-header -->
      
<section class="content">
<div class="container-fluid">

<div class="row">
            <div class="col-6 text-@Localizer["Float"]"><h1 class="form-title">@Localizer["Add New Menu"]</h1></div>
    <div class="col-6 text-@Localizer["Float Rev"] mt-3 sm-link"><a asp-action="Index"><i class="bi bi-list-ul"></i> @Localizer["List All Menus"]</a></div>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-6 col-sm-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-sm-6">
                    <label asp-for="LocationId" class="control-label"></label>
                    @*<select asp-for="LocationId" asp-items="@(new SelectList(ViewBag.Locations,"Id","Title"))" class="form-control"></select>*@
                    <select asp-for="LocationId" class="form-control">
                    <option value="">:: @Localizer["Select Location"] ::</option>
                    @{
                        List<MenuLocation> locations = ViewBag.Locations;
                        foreach (MenuLocation temp in locations)
                        {                                                   
                            <option value="@temp.Id">@(currentCulture == "en" ? temp.Title : temp.ArTitle)</option>
                        }
                    }
                    </select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                 <div class="form-group col-6 col-sm-6">
                    <label asp-for="LangId" class="control-label"></label>
                    <select asp-for="LangId" class="form-control">                         
                    @{
                        List<Language> langs = ViewBag.Languages;
                        foreach (Language temp in langs)
                        {                                                   
                            <option value="@temp.Id">@(currentCulture == "en" ? temp.Name : temp.ArName)</option>
                        }
                    }
                    </select>
                    <span asp-validation-for="LangId" class="text-danger"></span>
                </div>

                <div class="form-group col-6 col-sm-6">
                    <label asp-for="Target" class="control-label"></label>
                    <select asp-for="Target" class="form-control">
                         <option value="" >:: @Localizer["Select Target"] ::</option>
                         <option value="_self" selected >_self</option>
                         <option value="_blank" >_blank</option>
                         <option value="_top" >_top</option>
                    </select>
                    <span asp-validation-for="Target" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6 col-sm-6">
                    <label asp-for="ParentId" class="control-label"></label>
                    <select asp-for="ParentId" class="form-control">
                        <option value="" >@Localizer["Root"]</option>
                        @{
                            List<Menu> parents = ViewBag.Parents;
                            foreach (Menu temp in parents)
                            {                                                   
                                <option value="@temp.Id">@temp.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-sm-6">
                    <label asp-for="Priority" class="control-label"></label>
                    <input asp-for="Priority" class="form-control" value="999999" />
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label><Br />
                <input asp-for="Link" class="form-control" style="width:95%;display:inline;" /> <a href="#" id="get_link" data-toggle="modal" data-target="#linkmodal" ><i class="fa fa-link" id="get_link_icon" data-text="Link" style="font-size:24px;" aria-hidden="true"></i></a>
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger ml-2">@Localizer["Back To List"]</a>
            </div>
        </form>
    </div>
</div>
</div>

</section>
@section Scripts{
    {
        <partial name="_ValidationScriptsPartial" >
    }
    <script type="text/javascript" >
        $(document).ready(function(){
            $("#LocationId, #LangId").change(function(){     
                var lang = $("#LangId").val();
                var location = $("#LocationId").val();   
        
                var url = "@Url.Action("getMenuParents", "Menus")?langId="+lang+"&location="+location;        
                $("#ParentId").empty();
                $.ajax({
                    url: url,      
                    dataType: "json",
                    beforeSend: function() {
                        $("#ParentId").hide();
                        $("#ParentId").before($('<i class="fa fa-spinner fa-spin fa-3x fa-fw k_loader" id="m_loader"></i> '));
                    },    
                    success: function (data) {                            
                        var menus = data.menus;
                        $("#ParentId").append($('<option></option>').val("").html(":: ROOT ::"));
                        for(var i=0;i<menus.length;i++){
                            if(menus[i].ParentId!="0"){
                                $("#ParentId").append($('<option></option>').val(menus[i].id).html(" -- "+menus[i].name));                   
                            }
                            else $("#ParentId").append($('<option></option>').val(menus[i].id).html(menus[i].name));                   
                        }                                               
                    },
                    error: function (jqXhr, json, errorThrown) {
                        try{
                            var errors = jqXhr.responseJSON.errors;                       
                            console.log(errors);
                        }
                        catch(eee){
                            console.log(eee.message);
                        }
                    },
                    complete: function () {
                       //alert("complete");
                        $("#m_loader").remove();
                       $("#ParentId").show();               
                    }
                });
            
            });
        });    
    </script>
}
